version: "3.8"

services:
  # -------------------- Consul --------------------
  consul:
    image: hashicorp/consul:1.16
    command: agent -dev -client=0.0.0.0
    ports:
      - "8500:8500"
    networks: [vavilon-net]

  # -------------------- Kafka --------------------
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
    environment:
      CLUSTER_ID: vavilon-learn-cluster-1
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks: [vavilon-net]

  # -------------------- Postgres --------------------
  postgres:
    image: postgres:17
    container_name: vavilon-postgres
    environment:
      POSTGRES_DB: vavilon_learn_db
      POSTGRES_USER: db_admin
      POSTGRES_PASSWORD: global_db_admin
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_dev -d vavilon_learn_dev"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks: [vavilon-net]

  # -------------------- Config Service --------------------
  config-service:
    build:
      context: .
      dockerfile: Dockerfile.template
      args:
        SERVICE_NAME: config_service
        SERVICE_PATH: config_service
        ARTIFACT_NAME: config-service-1.0.jar
        MODULE_PORT: 8888
    container_name: config-service
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SERVER_PORT: 8888
    ports:
      - "8888:8888"
    depends_on:
      - consul
    networks: [vavilon-net]

  # -------------------- API Gateway --------------------
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile.template
      args:
        SERVICE_NAME: api_gateway_service
        SERVICE_PATH: api_gateway_service
        ARTIFACT_NAME: gateway-service-1.0.jar
        MODULE_PORT: 8080
    container_name: api-gateway
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      - consul
      - config-service
    networks: [vavilon-net]

  # -------------------- Main Service --------------------
  main-service:
    build:
      context: .
      dockerfile: Dockerfile.template
      args:
        SERVICE_NAME: main_service_old
        SERVICE_PATH: main_service_old
        ARTIFACT_NAME: vavilon_learn-1.0.jar
        MODULE_PORT: 8081
    container_name: main-service
    env_file:
      - ./main_service_old/src/main/resources/.env
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_PROFILES_ACTIVE: dev
      SERVER_PORT: 8081
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/vavilon_learn_dev
      SPRING_DATASOURCE_USERNAME: user_dev
      SPRING_DATASOURCE_PASSWORD: dev_pass
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    ports:
      - "8081:8081"
    depends_on:
      - consul
      - kafka
      - postgres
    networks: [vavilon-net]

  # -------------------- User Service --------------------
  user-service:
    build:
     context: .
      dockerfile: Dockerfile.template
     args:
        SERVICE_NAME: user-service
        SERVICE_PATH: user-service
        ARTIFACT_NAME: user-service-1.0.jar
        MODULE_PORT: 8082
   container_name: user-service
   env_file:
      - ./user-service/src/main/resources/.env
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SERVER_PORT: 8082
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/user_service_db
      SPRING_DATASOURCE_USERNAME: user_dev
      SPRING_DATASOURCE_PASSWORD: dev_pass
    ports:
      - "8082:8082"
    depends_on:
      - consul
      - postgres
    networks: [vavilon-net]

  # -------------------- Auth Service --------------------
  auth-service:
    build:
      context: .
        dockerfile: Dockerfile.template
      args:
        SERVICE_NAME: auth-service
        SERVICE_PATH: auth-service
        ARTIFACT_NAME: auth-service-1.0.jar
        MODULE_PORT: 8083
    container_name: auth-service
    env_file:
      - ./auth-service/src/main/resources/.env
      environment:
        SPRING_CLOUD_CONSUL_HOST: consul
        SERVER_PORT: 8082
        SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/auth_service_db
        SPRING_DATASOURCE_USERNAME: user_dev
        SPRING_DATASOURCE_PASSWORD: dev_pass
      ports:
        - "8083:8083"
      depends_on:
        - consul
        - postgres
      networks: [vavilon-net]

  # -------------------- Notification Service --------------------
  notification-service:
    build:
      context: .
      dockerfile: Dockerfile.template
      args:
        SERVICE_NAME: notification_service
        SERVICE_PATH: notification_service
        ARTIFACT_NAME: notification_service-1.0.jar
        MODULE_PORT: 8075
    container_name: notification-service
    env_file:
      - ./notification_service/src/main/resources/.env
    environment:
      SERVER_PORT: 8075
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_CLOUD_CONSUL_HOST: consul
    ports:
      - "8075:8075"
    depends_on:
      - consul
      - kafka
    networks: [vavilon-net]

volumes:
  pgdata:
  kafka-data:

networks:
  vavilon-net: